h1 {
    text-align: center;
    letter-spacing: 5px;
}
h2 {
    text-align: right;
    text-decoration: aqua underline wavy;
    font-weight: 900;
}
p {
    text-align: justify;
    text-decoration: rgb(30, 0, 255) underline dotted;
    line-height: 2.5;
    font-size: 20px;
}
a {
    text-decoration: none;
}